.calculators--menu__item {

  margin: 20px;

  & input {
    display: none;
    &:checked {
      + label > div {
        box-shadow: 0px 0px 5px 0px #69be94;
        -webkit-box-shadow: 0px 0px 5px 0px #69be94;
        -moz-box-shadow: 0px 0px 5px 0px #69be94;
        & > div {
          filter: invert(91%) sepia(5%) saturate(3522%) hue-rotate(85deg) brightness(85%) contrast(71%);
        }
      }
    }
  }

  & label {
    & > div {
      border-radius: 5px;
      height: 120px;
      width: 120px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    &:hover > div {
      box-shadow: 0px 0px 10px 0px #69be94!important;
      -webkit-box-shadow: 0px 0px 10px 0px #69be94!important;
      -moz-box-shadow: 0px 0px 10px 0px #69be94!important;
    }
  }

  &__title {
    text-align: center;
  }

  &__icon {
    margin: 0 auto;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(30%) sepia(20%) saturate(767%) hue-rotate(168deg) brightness(98%) contrast(90%);
    background-size: 70%;
  }

  &--car {
    &__icon {
      background-image: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%201024%201024%22%20height%3D%221em%22%20width%3D%221em%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M959%20413.4L935.3%20372a8%208%200%200%200-10.9-2.9l-50.7%2029.6-78.3-216.2a63.9%2063.9%200%200%200-60.9-44.4H301.2c-34.7%200-65.5%2022.4-76.2%2055.5l-74.6%20205.2-50.8-29.6a8%208%200%200%200-10.9%202.9L65%20413.4c-2.2%203.8-.9%208.6%202.9%2010.8l60.4%2035.2-14.5%2040c-1.2%203.2-1.8%206.6-1.8%2010v348.2c0%2015.7%2011.8%2028.4%2026.3%2028.4h67.6c12.3%200%2023-9.3%2025.6-22.3l7.7-37.7h545.6l7.7%2037.7c2.7%2013%2013.3%2022.3%2025.6%2022.3h67.6c14.5%200%2026.3-12.7%2026.3-28.4V509.4c0-3.4-.6-6.8-1.8-10l-14.5-40%2060.3-35.2a8%208%200%200%200%203-10.8zM264%20621c-22.1%200-40-17.9-40-40s17.9-40%2040-40%2040%2017.9%2040%2040-17.9%2040-40%2040zm388%2075c0%204.4-3.6%208-8%208H380c-4.4%200-8-3.6-8-8v-84c0-4.4%203.6-8%208-8h40c4.4%200%208%203.6%208%208v36h168v-36c0-4.4%203.6-8%208-8h40c4.4%200%208%203.6%208%208v84zm108-75c-22.1%200-40-17.9-40-40s17.9-40%2040-40%2040%2017.9%2040%2040-17.9%2040-40%2040zM220%20418l72.7-199.9.5-1.3.4-1.3c1.1-3.3%204.1-5.5%207.6-5.5h427.6l75.4%20208H220z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
    }
  }

  &--plane {
    &__icon {
      background-image: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%20512%20512%22%20height%3D%221em%22%20width%3D%221em%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M442.6%2067.37c-1.6.01-3.2.06-4.8.16-13.2.73-26.9%203.8-36.8%208.74l-.2.12-281%20120.21-4.1-2.6c-20.62-13.3-42.15-26.8-73.84-32.1%202.07%204.7%204.64%209.9%207.76%2015.5%206.69%2011.9%2015.26%2025.3%2023.75%2037.6%208.49%2012.2%2016.96%2023.3%2023.21%2030.4%202.41%202.8%204.02%204.3%205.42%205.6l172.2-68.6-1.2%2014.4c-3.7%2044.4-11.3%2089.6-23.5%20135.7l28.5-19c32.6-51.5%2043.5-87.2%2071-157.3l1.2-3%2091.5-50.5h.2c22.9-11.49%2032.8-21.65%2034.4-25.36.8-1.86.6-1.37.2-2.04-.4-.66-2.3-2.39-5.8-3.85-5.4-2.2-13.8-3.72-23.3-4.03-1.5-.05-3.2-.07-4.8-.05zm-283%2011.74l-22.1%204.4L222%20133.3l60.1-25.7C248%2096.96%20210.8%2086.98%20159.6%2079.11zM32%20439v18h448v-18H32z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)
    }
  }

  &--public {
    &__icon {
      background-image: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%2024%2024%22%20height%3D%221em%22%20width%3D%221em%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M4%2016c0%20.88.39%201.67%201%202.22V20c0%20.55.45%201%201%201h1c.55%200%201-.45%201-1v-1h8v1c0%20.55.45%201%201%201h1c.55%200%201-.45%201-1v-1.78c.61-.55%201-1.34%201-2.22V6c0-3.5-3.58-4-8-4s-8%20.5-8%204v10zm3.5%201c-.83%200-1.5-.67-1.5-1.5S6.67%2014%207.5%2014s1.5.67%201.5%201.5S8.33%2017%207.5%2017zm9%200c-.83%200-1.5-.67-1.5-1.5s.67-1.5%201.5-1.5%201.5.67%201.5%201.5-.67%201.5-1.5%201.5zm1.5-6H6V6h12v5z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)
    }
  }

}
