@mixin nav-collapse {
  @media screen and (max-width: 1136px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 602px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 380px) {
    @content;
  }
}

header {
  height: 90px;
  border-bottom: 1px solid #40576d;
  position: sticky;
  background-color: white;
  top: 0px;
  left: 0px;
  z-index: 1;
  @include mobile {
    height: 60px;
  }
  & .head {
    height: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1136px;
    margin-left: auto;
    margin-right: auto;
    &__logo {
      display: flex;
      align-items: center;
      &--icon {
        height: 70px;
        width: 70px;
        background-image: url("../../../public/logo.svg");
        background-position: center;
        background-size: 80px 80px;
        @include mobile {
          padding: 10px;
          height: 40px;
          width: 40px;
        }
      }
      &--title {
        color: #40576d;
        display: flex;
        align-items: center;
        margin: 0;
        @include mobile {
          font-size: 1.3em!important;
          padding: 0!important;
        }
        @include tablet {
          padding-left: 10px;
          font-size: 1.5em;
          margin: 0;
          max-width: 250px;
        }
      }
    }
    &__section {
      display: flex;
    }
    &--loggedin {

    }
    &--login {
      align-items: center;
      display: flex;
    }
  }
}
